/* Style the carousel container */
.carousel-container {
    width: 100%;
    max-width: 1990px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  /* Style the carousel slides */
  .carousel-slides {
    width: 100%;
    display: flex;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    width: 100%;
    display: none;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  /* Style the slider indicators */
  .slider-indicators {
    text-align: center;
    margin-top: 10px;
    /* Adjust spacing from the carousel */
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between indicators */
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #333;
  }
  
  /* Style the carousel control button */
  .carousel-control {
    border: none;
    background: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
.section-two-heading{
    font-family: Noto Serif;
font-size: 48px;
font-weight: 600;
line-height: 65px;
letter-spacing: 0em;
text-align: left;
color: 
rgba(0, 51, 33, 1);
}


/* Style the navbar */
.navbar {
  background: rgba(245, 255, 252, 1);
  color: rgba(64, 92, 82, 1);
}

/* Style the navigation list */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-right: 32px;
}

/* Style the list items */
.nav-list li {
  text-align: center;
  font-family: Noto Sans;
font-size: 24px;
font-weight: 400;
margin-left: 10px;

}

/* Style the links */
.nav-list a {
  text-decoration: none;
  color: blue;
  display: flex;
  align-items: center;
}

/* Style the icons */
.icon {
  font-size: 24px;
}

/* Hide the button and icons on large screens */
@media (min-width: 769px) {
  .navbar-toggle,
  .icon {
      display: none;
  }

  #pic{
    display: none;
  }
  
}

.nav-link-color{
  font-family: Noto Sans;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;

color: #003321;
}

